.glyphicon-question-sign, .fa-question-circle {
    padding-left: 0px;
}

.qcStatusIcon {
    
}


.flag-notes-popup {
    position: relative;
    display: inline-flex;
    background-color: white;
    width: 270px;
    height: 47px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 1000;
    left: 2px;
    bottom: 2px;
}

/* .flag-notes-popup input {
    display: inline-block;
    width: 175px;
    height: 35px;
} */

.flage-notes-save-btn {
    margin-left: 8px;
}

.flage-notes-close-btn {
    margin-right: 5px;
    padding-bottom: 14px;
}
.submit {
    margin-left: 8px;
}
.button {
    cursor: pointer;
    margin-left: 8px;
    padding-left: 5px;
    
}
/* .glyphicon.glyphicon-remove-sign {
    padding-left: 10px;
}  */
/* .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;
  } */
/*   
button, input, select, textarea {
    height: 30px; 
}*/
/* flag-notes-popup[_ngcontent-c6] input[_ngcontent-c6] {
    display: inline-block;
    width: 175px;
    height: 29px;
} */
/* .form-control {
    border-radius: 0px;
} */
.glyphicon {
    top: 10px;
}
.glyphicon-remove-sign:before {
    padding: 10px;
    content: "\e083";
}
input {
    padding: 1px 0px;
}
button, input, optgroup, select, textarea {
    margin: 4px;
    font: inherit;
    color: inherit;
}